html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  width: 50%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  margin-bottom: 0;
}

.width-md {
  width: 300px;
}

.add {
  width: 100px;
}
